@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}
Enumerable<

<!-- Header Section End -->
<!-- Hero Section Begin -->
<section class="hero">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="hero__categories">
                    <div class="hero__categories__all">
                        <i class="fa fa-bars"></i>
                        <span>All Categories</span>
                    </div>
                    <ul>
                        <li><a href="#">Mystery/Thriller</a></li>
                        <li><a href="#">Romance</a></li>
                        <li><a href="#">Science Fiction</a></li>
                        <li><a href="#">Fantasy</a></li>
                        <li><a href="#">Historical Fiction</a></li>
                        <li><a href="#">Horror</a></li>
                        <li><a href="#">Adventure</a></li>
                        <li><a href="#">History</a></li>
                        <li><a href="#">Science</a></li>
                        <li><a href="#">Children's Books</a></li>
                        <li><a href="#">Educational Textbooks</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-9">
                <div class="hero__search">
                    <div class="hero__search__form">
                        <form action="#">
                            <div class="hero__search__categories">
                                All Categories
                                <span class="arrow_carrot-down"></span>
                            </div>
                            <input type="text" placeholder="What do yo u need?">
                            <button type="submit" class="site-btn">SEARCH</button>
                        </form>
                    </div>
                    <div class="hero__search__phone">
                        <div class="hero__search__phone__icon">
                            <i class="fa fa-phone"></i>
                        </div>
                        <div class="hero__search__phone__text">
                            <h5>+84 999.999.9.99</h5>
                            <span>support 24/7 time</span>
                        </div>
                    </div>
                </div>
                <div class="hero__item set-bg" data-setbg="../Layout/img/r.jpg">
                
                </div>
            </div>
        </div>
    </div>
</section>

<section class="featured spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title">
                    <h2>Featured Product</h2>
                </div>
                <div class="featured__controls">
                    <ul>
                        <li class="active" data-filter="*">All</li>
                        <li data-filter=".oranges">Romance</li>
                        <li data-filter=".fresh-meat">Science Fiction</li>
                        <li data-filter=".vegetables">Fantasy</li>
                        <li data-filter=".fastfood">Historical Fiction</li>
                    </ul>
                </div>
                

        <div class="row featured__filter">

        </div>
    </div>
</section>
<!-- Featured Section End -->
<!-- Banner Begin -->

<script src="../Layout/js/jquery-3.3.1.min.js"></script>
<script src="../Layout/js/bootstrap.min.js"></script>
<script src="../Layout/js/jquery.nice-select.min.js"></script>
<script src="../Layout/js/jquery-ui.min.js"></script>
<script src="../Layout/js/jquery.slicknav.js"></script>
<script src="../Layout/js/mixitup.min.js"></script>
<script src="../Layout/js/owl.carousel.min.js"></script>
<script src="../Layout/js/main.js"></script>